/**
*Classe toast : definition d'un toast
* Une classe css commence toujours par un point
*/
.toast{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 60px;
    left: 40%;
}

.toast.danger {
    /**background-color: rgba(201, 23, 23, 0.883); A REACTIVER SI J'ENLEVE MA CLASSSE DANGER P */ 
    color: #fff;
    border: solid 1px #fff;
}
/** Ca c'est si je veux surligner le texte seulement, mais je dois modifier ma class toast .html('<p>' + this.message + '</p>')*/
.toast.danger p {
    background-color: rgba(189, 19, 19, 0.883)
}